/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=000 webfont:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora");

root {
  font-family: "000 webfont";
}

@font-face {
  font-family: "000 webfont";
  src: url("./fonts/000webfont\ Regular.ttf") format("truetype");
  /* Add other font properties if needed */
}

@font-face {
  font-family: "Akka";
  src: url("./fonts/akka.ttf") format("truetype");
  /* Add other font properties if needed */
}

@font-face {
  font-family: "Alba";
  src: url("./fonts/ALBA____.TTF") format("truetype");
  /* Add other font properties if needed */
}

:root {
  --ifm-font-family-base: "000 webfont";
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus,
input[type="number"]:active,
button,
button:hover,
button:focus,
button:active,
select,
select:hover,
select:focus,
select:active,
textarea,
textarea:hover,
textarea:focus,
textarea:active {
  -webkit-appearance: none !important;
  appearance: none !important;
  outline: none !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.navBarText {
  font-family: "000 webfont";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.08px;

  color: #000000;
}

.navBold {
  font-family: "000 webfont";
  font-weight: 700;
}

.navBarText:hover {
  text-decoration: none;
  color: #9d4dfa;
}

.navBarStartBtn {
  font-family: "000 webfont";
  font-size: 18px;
  background-color: #9d4dfa;
}

.headerBtn {
  font-family: "000 webfont";
  font-size: 15px;
  background-color: #9d4dfa;
  padding: 6px;
}

.fontFamily {
  font-family: "000 webfont";
}

.belowHeaderText {
  font-size: 18px;
  font-family: "000 webfont";
  line-height: 22px;
}

.headerBox {
  width: 40%;
}

.modalButtonSignIn {
  border: 2px solid #d9d9d9;
  border-radius: 30px;
  background-color: white;
  color: grey;
  width: 70%;
  height: 45px;
}

.modalButtonSignIn:hover {
  border: 2px solid #d9d9d9 !important;
  background-color: white !important;
  color: grey !important;
}

.modalButtonSignIn:active {
  border: 2px solid #d9d9d9 !important;
  background-color: white !important;
  color: grey !important;
}

.modalButtonSignIn:focus {
  border: 2px solid #d9d9d9 !important;
  box-shadow: none !important;
  outline: 0 !important;
}

.modalTitle {
  margin-top: 30px;
  color: #000d35;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;

  text-transform: uppercase;

  margin-left: auto;
  margin-right: auto;
}
.modalRow {
  flex: 1;
  flex-direction: row;
  margin-bottom: 15px;
}
.modalTerms {
  font-family: "000 webfont";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;

  text-align: center;
  text-decoration: underline;
  color: #878787;
}

.modalTerms:hover {
  color: #878787;
}
.modal-close-x {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9999;
  cursor: pointer;
}
.custom-modal {
  max-width: 80%;
}
.custom-modal .modal-content {
  background-color: #1e1e1e;
  color: #fff;
}

.line {
  border-bottom: 1px solid #828282;
  width: 70%;
  margin: 0 auto;
}

.flexDirectionRow {
  display: flex;
  flex-direction: row;
}

.leftModalContainer {
  width: 140rem;
  border-right: 2px solid black;
  text-align: center;
}

.leftModalContainerCreditcard {
  width: 140rem;
  border-right: 2px solid black;
  padding-left: 5%;
  padding-right: 5%;
}

.rightModalContainer {
  padding-left: 5%;
  padding-right: 5%;
}

.rightSubHeadingText {
  font-family: "000 webfont";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.rightSubHeadingTextSmall {
  font-family: "000 webfont";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.headingBold {
  font-weight: 700;
}
.headingThin {
  font-weight: 400;
}

.passwordInputBox {
  background-color: transparent;
  color: #000000;

  font-family: "000 webfont";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  outline: none !important;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #000000 1px;
  padding: 3px;
  margin: 15;
  width: 80%;
  padding-bottom: 10px;
}

input:focus {
  outline: none;
}

.passwordInputBox:focus {
  outline: none !important;
  border: none;
  text-decoration: none;
}

.inputNumberIncrement {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  width: 30%;
  font-size: 16px;
  text-align: center;
  margin-left: 35%;
  margin-top: -5%;
}

button.xmint-btn span {
  display: none;
}
button.xmint-btn:after {
  content: "Pay with Creditcard";
  color: white;
}
