/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=000 webfont:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora");

body {
  background-color: #1e1e1e;
  color: white;
  font-family: "Sora";
}

@font-face {
  font-family: "000 webfont";
  src: url("./fonts/000webfont\ Regular.ttf") format("truetype");
  /* Add other font properties if needed */
}

@font-face {
  font-family: "Akka";
  src: url("./fonts/akka.ttf") format("truetype");
  /* Add other font properties if needed */
}

@font-face {
  font-family: "Alba";
  src: url("./fonts/ALBA____.TTF") format("truetype");
  /* Add other font properties if needed */
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus,
input[type="number"]:active,
button,
button:hover,
button:focus,
button:active,
select,
select:hover,
select:focus,
select:active,
textarea,
textarea:hover,
textarea:focus,
textarea:active {
  -webkit-appearance: none !important;
  appearance: none !important;
  outline: none !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.navBarText {
  font-family: "000 webfont";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.08px;

  color: white;
}

.navBarLogoText {
  font-family: "000 webfont";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;

  text-align: center;
  letter-spacing: -0.08px;
  color: white;
}

.navBold {
  font-family: "000 webfont";
  font-weight: 700;
}

.navBarText:hover {
  text-decoration: none;
  color: #9d4dfa;
}

.navBarStartBtn {
  font-family: "000 webfont";
  font-size: 18px;
  background-color: #9d4dfa;
}

.headerBtn {
  font-family: "000 webfont";
  font-size: 15px;
  background-color: #9d4dfa;
  padding: 6px;
}

.fontFamily {
  font-family: "000 webfont";
}

.belowHeaderText {
  font-size: 18px;
  font-family: "000 webfont";
  line-height: 22px;
}

.headerBox {
  width: 40%;
}

.modalButtonSignIn {
  font-family: "Sora";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  border-radius: 30px;
  background: #ef22a9;
  color: rgb(255, 255, 255);
  width: 30%;
  height: 45px;
  text-transform: uppercase;
}

.modalButtonSignIn:hover {
  border: 2px solid #a50f73 !important;
}

.modalButtonSignIn:active {
  border: 2px solid #d9d9d9 !important;
  background-color: white !important;
  color: grey !important;
}

.modalButtonSignIn:focus {
  border: 2px solid #d9d9d9 !important;
  box-shadow: none !important;
  outline: 0 !important;
}

.modalTitle {
  margin-top: 30px;
  color: #000d35;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;

  text-transform: uppercase;

  margin-left: auto;
  margin-right: auto;
}

.enter {
  margin-top: 30px;
  color: #ff6c7b;
  font-family: "Sora";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}
.wavGameHeader {
  color: #ffffff;
  font-family: "000 webfont";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  margin-top: -5%;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}
.modalRow {
  flex: 1;
  flex-direction: row;
  margin-bottom: 15px;
}
.modalTerms {
  font-family: "000 webfont";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;

  text-align: center;
  text-decoration: underline;
  color: #878787;
}

.modalTerms:hover {
  color: #878787;
}
.modal-close-x {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 9999;
  cursor: pointer;
}

.modal-header-notext {
  margin-top: 5%;
}

/* WaveWrld/Modal header */
.custom-modal {
  max-width: 80%;
}
.custom-modal .modal-content {
  background-color: #1e1e1e;
  color: #fff;
}

.modal-header-text {
  font-family: "000 webfont";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  text-align: center;
  color: #e0e0e0;
}

.line {
  border-bottom: 1px solid #828282;
  width: 80%;
  margin: 0 auto;
}

.lineNoCenter {
  border-bottom: 1px solid #828282;
  width: 80%;
}

.flexDirectionRow {
  display: flex;
  flex-direction: row;
}

.leftModalContainer {
  width: 80rem;
  border-right: 1px solid #828282;
  text-align: center;
}

.leftModalContainerCreditcard {
  width: 140rem;
  border-right: 2px solid black;
  padding-left: 5%;
  padding-right: 5%;
}

.rightModalContainer {
  padding-left: 3%;
  padding-right: 3%;

  width: 50%;
}

.rightSubHeadingText {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #bdbdbd;
}

.eyebrowLg {
  /* WaveWrld/Lg Eyebrow */
  font-family: "Sora";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #bdbdbd;
}
.rightSubHeadingTextSmall {
  font-family: "Sora";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #bdbdbd;
}

.headingBold {
  font-weight: 700;
}
.headingThin {
  font-weight: 400;
}

.passwordInputBox {
  background-color: #36343b;
  height: 45px;
  color: #cac4d0;
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  outline: none !important;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 3px;
  margin: 15;
  width: 80%;
  padding-bottom: 10px;
}

.avatarImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.artistName {
  flex: 1;
  text-align: center;
}

.defaultArtistBtn {
  background: #4b1f3e;
  /* WaveWrld/Cards/completed stroke */
  width: 230px;
  border: 1px solid #bf3948;
  border-radius: 45px;
  display: flex;
  align-items: center;
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
}

.defaultArtistBtn:hover {
  background: #7f2d67;
}

.passwordInputBox:focus {
  outline: none !important;
  box-shadow: none;
  border-bottom: solid #cac4d0 1px;
}

.inputNumberIncrement {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  width: 30%;
  font-size: 16px;
  text-align: center;
  margin-left: 35%;
  margin-top: -5%;
}

button.xmint-btn span {
  display: none;
}

button.xmint-btn {
  background-color: #36343b;
  width: 40%;
}
button.xmint-btn:after {
  content: "Pay with Creditcard";
  color: white;
}
