/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

root {
  font-family: "Montserrat";
}
:root {
  --ifm-font-family-base: "Montserrat";
}
.navBarText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.08px;

  color: #000000;
}

.navBold {
  font-family: "Montserrat";
  font-weight: 700;
}

.navBarText:hover {
  text-decoration: none;
  color: #9d4dfa;
}

.navBarStartBtn {
  font-family: "Montserrat";
  font-size: 18px;
  background-color: #9d4dfa;
}

.headerBtn {
  font-family: "Montserrat";
  font-size: 15px;
  background-color: #9d4dfa;
  padding: 6px;
}

.fontFamily {
  font-family: "Montserrat";
}

.belowHeaderText {
  font-size: 18px;
  font-family: "Montserrat";
  line-height: 22px;
}

.headerBox {
  width: 40%;
}

.modalButtonSignIn {
  border: 2px solid #d9d9d9;
  border-radius: 30px;
  background-color: white;
  color: grey;
  width: 70%;
  height: 45px;
}

.modalButtonSignIn:hover {
  border: 2px solid #d9d9d9 !important;
  background-color: white !important;
  color: grey !important;
}

.modalButtonSignIn:active {
  border: 2px solid #d9d9d9 !important;
  background-color: white !important;
  color: grey !important;
}

.modalButtonSignIn:focus {
  border: 2px solid #d9d9d9 !important;
  box-shadow: none !important;
  outline: 0 !important;
}

.modalTitle {
  margin-top: 30px;
  color: #000d35;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;

  text-transform: uppercase;

  margin-left: auto;
  margin-right: auto;
}
.modalRow {
  flex: 1;
  flex-direction: row;
  margin-bottom: 15px;
}
.modalTerms {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;

  text-align: center;
  text-decoration: underline;
  color: #878787;
}

.modalTerms:hover {
  color: #878787;
}

.custom-modal {
  max-width: 80%;
}

.flexDirectionRow {
  display: flex;
  flex-direction: row;
}

.leftModalContainer {
  width: 140rem;
  border-right: 2px solid black;
  text-align: center;
}

.rightModalContainer {
  padding-left: 5%;
  padding-right: 5%;
}

.rightSubHeadingText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.rightSubHeadingTextSmall {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.headingBold {
  font-weight: 700;
}
.headingThin {
  font-weight: 400;
}
